In [1]:
import pandas as pd
from pandas import Series, DataFrame
%pylab inline
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv("bank-full.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [6]:
mask_yes = (df['y'] == 'yes')
df_yes = df[mask_yes]

mask_no = (df['y'] == 'no')
df_no = df[mask_no]

## Overall Response Rate

In [23]:
print 'Overall Positive Response Rate:\t{}%'.format(100*float(len(df_yes))/(len(df)))

Overall Positive Response Rate:	11.6984804583%

## Duration of Calls

In [86]:
avgDuration_yes = average(df_yes['duration'])
avgDuration_no = average(df_no['duration'])

print 'Average duration of positive response call:\t{}:{} (minutes:seconds)'.format(int(avgDuration_yes/60),
                                                                                    int((avgDuration_yes-int(avgDuration_yes))*60))
print 'Average duration of negative response call:\t{}:{} (minutes:seconds)'.format(int(avgDuration_no/60),
                                                                                    int((avgDuration_no-int(avgDuration_no))*60))

Average duration of positive response call:	8:17 (minutes:seconds)
Average duration of negative response call:	3:10 (minutes:seconds)

## Cost of Calls

In [90]:
avg_monthlySal = 1531.0
avg_dailySal = avg_monthlySal/30
avg_hourlySal = avg_dailySal/8

print 'Average wage for call center employee:\t{} Euros/hr'.format(round(avg_hourlySal,2))
print
print 'Average Cost of Calls'
print 'Positive Response\t:\t{} Euros'.format(round((avgDuration_yes/(3600))*avg_hourlySal,2))
print 'Negative Response\t:\t{} Euros'.format(round((avgDuration_no/(3600))*avg_hourlySal,2))

Average wage for call center employee:	6.38 Euros/hr

Average Cost of Calls
Positive Response	:	0.95 Euros
Negative Response	:	0.39 Euros